body{
    min-height: 100vh;
    min-width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    display: flex;
    border: "solid 1px red";
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}